<h1>Editing assertion</h1>

<%= render 'form' %>

<%= link_to 'Show', test_suite_test_case_assertion_path(@test_suite,@test_case, @assertion) %> |
<%= link_to 'Back', test_suite_test_case_assertions_path(@test_suite,@test_case) %>
