<h1>Editing notification_rule</h1>

<%= render 'form' %>

<%= link_to 'Show', test_suite_notification_rule_path(@test_suite,@notification_rule) %> |
<%= link_to 'Back', test_suite_notification_rules_path %>
