<h1>Editing test_suite</h1>

<%= render 'form' %>

<%= link_to 'Test Cases', test_suite_test_cases_path(@test_suite) %> |
<%= link_to 'Notification Rules', test_suite_notification_rules_path(@test_suite) %> |
<%= link_to 'Back', test_suites_path %>
